body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    

  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   
  }

  .toplogo{
      font-size: 3rem !important;
      text-shadow: 3px 3px rgb(0, 0, 0);

      /* text-align: center; */
      /* padding-top: 
      5%; */
      
  }

  .littlelogo{
    font-size: 2.8rem;
  }

  
  header.masthead {
    position: relative;
    background: url("./assets/sky14.jpg") no-repeat center center;
    background-attachment:fixed;
    background-size: cover;
    /* padding-top: 8rem;
    padding-bottom: 8rem; */
    height: 700px;
  }

  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 8rem;
      /* padding-bottom: 12rem; */
    }
    header.masthead h1 {
      font-size: 3.5rem;
    }
  
  }
  
  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
  
  .features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .features-icons .features-icons-item {
    max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }
  
  .testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .testimonials .testimonial-item {
    max-width: 18rem;
  }
  
  .testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }
  
  .call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("./assets/skyline6.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-attachment:fixed;
     height: 800px;
  }
  

  .imga{
    background:url("./assets/kable3.jpg");
  }
  .imgb{
    background:url("./assets/bg-showcase-1.jpg");
  }
  .imgc{
    background:url("./assets/window2.jpg");
    /* height: 400px;
    width: 900px; */
  }
  .topcolor{
    background-color:rgb(223, 229, 241) ;
  }

  @media screen and (max-width: 450px){

    .toplogo{
      margin-top: 48%;
      
    }
    header.masthead h1 {
      font-size: 2.1rem;
    }

    .littlelogo{
      font-size: 1.5rem;
    }
  }

  .lead{
    font-weight: 500;
  }

  .headers {
    text-decoration: underline;
  }


  