a {
    
   color: white;
 }
 
 li {
  
   text-align: center;
 }
 

 .color{
   background-color: #79bbeb;
   color: rgb(241, 223, 223);
   padding-left: 0px !important;
   
 }

 footer {
     border-top: 1rem solid white;
     text-shadow: 1px 1px rgb(50, 63, 66);
 }

 .names{
  text-decoration: underline;
  font-size: 1.2rem;
 }